.banner_hero {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 600px;
  background-image: url(../img/directorio_banner.jpg);
  background-size: cover;
  background-position: center;
}
.banner_hero h1 {
  font-weight: bold !important;
  font-size: 6em !important;
}

.modal-loggin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.modal-loggin.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-loggin .box {
  width: 90%;
  max-width: 500px;
  height: 300px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  position: relative;
  -webkit-box-shadow: 0 0 40px -2px #e5202e;
          box-shadow: 0 0 40px -2px #e5202e;
}
.modal-loggin .box .close-loggin {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e5202e;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  color: white;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  cursor: pointer;
}
.modal-loggin .box .close-loggin:hover {
  background-color: #430026;
}
.modal-loggin .box p {
  font-weight: bold;
  color: #e5202e;
  font-size: 20px;
  line-height: 1;
}
.modal-loggin .box .content {
  text-align: center;
}
.modal-loggin .box .content #home-reg:hover {
  background-color: #430026;
}

.filter__cont {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1024px;
}
.filter__button-eje {
  padding: 10px 6px;
  border-radius: 8px;
  border: 1px solid #e5202e;
  width: 100px;
  text-align: center;
  color: #e5202e;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 12%;
          flex: 1 0 12%;
  margin: 15px 5px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  line-height: 1.2;
  min-width: 120px;
}
.filter__button-eje-main {
  width: 100%;
  max-width: 350px;
}
.filter__button-eje:hover, .filter__button-eje.active {
  background-color: #e5202e;
  color: white;
}

.video-titulo {
  text-align: center;
  font-size: 24px;
  display: none;
  text-transform: uppercase;
  background-color: #e5202e;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  margin-top: 30px;
}

.videos_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.videos_cont .item {
  min-width: 320px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}
.videos_cont .item .expo-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  max-width: 100%;
  margin: 5px;
}
.videos_cont .item .expo-video .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("//i.imgur.com/TxzC70f.png") no-repeat;
  cursor: pointer;
}
.videos_cont .item .expo-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}
.videos_cont .item .expo-video img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.videos_cont .item .expo-video img:hover {
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}
.videos_cont .item .title {
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  line-height: 1.2;
  color: #e5202e;
  height: 55px;
  padding: 0 20px;
}