body, html{
    scroll-behavior: smooth;
}

.logos-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    img.logo-pat{
        width: auto;
        max-width: 100px;
        display: block;
    }
}

.modal-video-cont{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(#430026, 0.9);
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    flex-direction: column;
    .close-button{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #e5202e;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        transform: rotateZ(45deg);
        font-size: 40px;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all 300ms;
        &:hover{
            border: 1px solid white;
        }
    }
    .modal-title{
        color: white;
        font-size: 28px;
        text-align: center;
        max-width: 60%;
        font-weight: bold;
    }
    .modal-video {
        display: flex;
        align-items: center;
        justify-content: stretch;
        position: relative;
        width: 60%;
        height: 500px;
        overflow: hidden;
        max-width: 100%;
        margin: 5px;

        .play {
            height: 72px;
            width: 72px;
            left: 50%;
            top: 50%;
            margin-left: -36px;
            margin-top: -36px;
            position: absolute;
            background: url('//i.imgur.com/TxzC70f.png') no-repeat;
            cursor: pointer;
          }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
            background: transparent;
        }

        img {
            object-fit: cover;
            display: block;
            left: 0;
            bottom: 0;
            margin: auto;
            max-width: 100%;
            width: 100%;
            position: absolute;
            right: 0;
            top: 0;
            border: none;
            height: auto;
            cursor: pointer;
            -webkit-transition: 0.4s all;
            -moz-transition: 0.4s all;
            transition: 0.4s all;

            &:hover {
                filter: brightness(75%);
            }
        }

    }
    #display{
        color: white;
    }
}
.menu-ejes-cont{
    position: relative;
    height: 65px;
    .menu-ejes{
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        &.sticky{
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 10;
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                padding: 20px 10px;
                transition: all 300ms;
                a{
                    color: #e5202e;
                    transition: all 300ms;

                }

                &:hover{
                    background-color: #e5202e;
                    a{
                        color: white;
                    }
                }
            }
        }
    }
}
.banner_hero{
    background-color: #e5202e;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 600px;
    background-image: url(../img/2022/home-landing-2022.jpg);
    background-size: cover;
    background-position: center;
    h1{
        font-weight: bold !important;
        font-size: 6em !important;
    }
}

.grid-cont{
    display: flex;
    align-items: stretch;
    justify-content: center;
    .column{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: start;
        .title{
            margin-left: 40px;
            font-weight: bold;
            color: #e5202e;
            font-size: 24px;
            line-height: 1;
        }
        .link{
            img{
                margin-top: 10px;
                width: 40px;
            }
        }
    }
}

.grid-cont-three{
    display: flex;
    align-items: stretch;
    justify-content: center;
    .column{
        height: 300px;
        width: 33.33%;
        display: flex;
        align-items: center;
        justify-content: start;
        text-align: center;
        background-size: cover;
        background-position: center;
        &:nth-child(1){
            background-image: url(../img//2022/second-square.jpg);
        }
        &:nth-child(2){
            background-image: url(../img//2022/thirds-quare.jpg);
        }
        &:nth-child(3){
            background-image: url(../img//2022/fourth-square.jpg);
        }
        .title{
            width: 100%;
            text-align: center;
            margin-left: 40px;
            font-weight: bold;
            color: #fff;
            font-size: 24px;
            line-height: 1;
        }
        .link{
            img{
                margin-top: 10px;
                width: 40px;
            }
        }
    }
}

.grid-cont-two{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    .column{
        height: 400px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: start;
        text-align: center;
        background-size: cover;
        background-position: center;
        flex: 1 0 50%;
        &:nth-child(1){
            background-image: url(../img//2022/fifth-square.jpg);
        }
        &:nth-child(2){
            background-image: url(../img//2022/sixth-square.jpg);
        }

        &:nth-child(3){
            background-image: url(../img//2022/seventh-square.jpg);
        }
        &:nth-child(4){
            background-image: url(../img//2022/eigth-square.jpg);
        }
        .title{
            width: 100%;
            text-align: center;
            margin-left: 40px;
            font-weight: bold;
            color: #fff;
            font-size: 24px;
            line-height: 1;
        }
        .link{
            img{
                margin-top: 10px;
                width: 40px;
            }
        }
    }
}

.menu-tabs{
    background-color: #fff;
    text-align: center;
    background-color: #3c042a;
    padding: 30px 0;
    .menu_title{
        line-height: 1;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 10px;
        li{
            line-height: 1;
            padding: 15px 10px;
            transition: all 300ms;
            text-transform: uppercase;
            color: #e5202e;
            color: #fff;
            transition: all 300ms;
            cursor: pointer;

            &:hover, &.active{
                background-color: #e5202e;

                    color: white;

            }
        }
    }
}

.tabs-content{
    .tab{
        padding: 40px ;
        display: none;
        &.active{
            display: block;
        }

        .title{
            font-weight: bold;
            text-align: center;
            line-height: 1.2;
            font-size: 30px;
            color: #3c042a;
            span{
                color: #e5202e;
            }
        }

        .grid-users{
            display: flex;
            align-items: stretch;
            margin-top: 40px;
            .columns{
                width: 100%;
                display: flex;
                align-items: stretch;
                justify-content: start;
                flex-wrap: wrap;
                flex-direction: row;
                .item{
                    flex: 1 0 48%;
                    margin: 20px 0;
                    // max-width: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        max-width: 200px;
                    }
                    .desc{
                        padding: 20px;
                        max-width: 200px;
                        .second{
                            font-size: 12px;
                            color: #430026;
                            line-height: 1.2;
                        }
                        .primary{
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 1.2;
                            color: #e5202e;
                        }
                    }
                }
            }
        }
    }
}
.table-cont{
    background-color: #430026;

    .filters_cont{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        .search-cont, .dropdown-cont{
            appearance: none;
            margin: 10px;
            height: 50px;
            p{
                font-weight: bold;
                color: white;
                line-height: 1;
                margin: 0;
                margin-bottom: 5px;
                font-size: 10px;
            }
            input, select{
                width: 300px;
                padding: 5px 10px;
                height: 40px;
                border-radius: 0;
                color: #e5202e;
                border: 1px solid #e5202e;
                background-color: transparent;
                color: #e5202e;
                font-size: 14px;
                &::placeholder{
                color: #e5202e;

                    font-size: 142x;
                }
            }
            input{
                background-color: #fff;
            }
            select{
                padding-left: 0;
                font-weight: bold;
                border: none;
                font-size: 10px;
                option{
                    word-wrap: break-word;
                }
            }
            .icon{
                float: left;
                background-color: #e5202e;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 20px;
                }
            }
        }
        .search-cont{
            padding-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .lista-videos_cont{
        color: white;
        thead{
            th{
                text-align: center;
            }
        }
        tr{
            padding-bottom: 20px;
            td{
                border-bottom: 1px solid rgba(white, 0.5);
                padding-bottom: 40px;
                padding-top: 40px;
                border-top: none;
                width: 33%;
                &:first-child{
                    color: #e5202e;
                    a{
                        color: #e5202e;
                        text-decoration: underline !important;
                    }

                }

                .title_text{
                    a{
                        cursor: pointer;
                    }
                    position: relative;
                    padding-left: 40px;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 25px;
                        height: 25px;
                        padding: 10px;
                        background-image: url(../img//2022/play-button.png);
                        background-size: cover;
                    }
                }
            }
        }
    }
}

.pat-cont{
    padding: 40px;
    .title{
        text-transform: uppercase;
        width: 100%;
        margin: 0 auto;
        color: #e5202e;
        font-weight: bold;

        text-align: center;
        font-size: 30px;
    }

    .grid-pat{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        .item-cont{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 13%;

            img{
                margin: 10px;
                max-height: 80px;
            }
        }
    }
}