.banner_hero{
    background-color: red;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 600px;
    background-image: url(../img/directorio_banner.jpg);
    background-size: cover;
    background-position: center;
    h1{
        font-weight: bold !important;
        font-size: 6em !important;
    }
}

.filter{
    &__cont{
        margin: 0 auto;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 1024px;

    }

    &__button-eje{
        padding: 10px 6px;
        border-radius: 8px;
        border: 1px solid #e5202e;
        width: 100px;
        text-align: center;
        color: #e5202e;
        cursor: pointer;
        transition: all 300ms;
        flex: 1 0 12%;
        margin: 15px 5px ;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        line-height: 1.2;
        min-width: 120px;
        &-main{
            width: 100%;
            max-width: 350px;
        }

        &:hover,  &.active{
            background-color: #e5202e;
            color: white;
        }
    }
}

.video-titulo{
    text-align: center;
    font-size: 24px;
    display: none;
    text-transform: uppercase;
    background-color: #e5202e;
    color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 30px;
}
.videos_cont{
    display: flex;
    align-items: stretch;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: row;

    .item{
        min-width: 320px;
        flex: 1 0 50%;
        max-width: 50%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-direction: column;
        padding: 10px;

        .expo-video {
            display: flex;
            align-items: center;
            justify-content: stretch;
            position: relative;
            width: 100%;
            height: 400px;
            overflow: hidden;
            max-width: 100%;
            margin: 5px;

            .play {
                height: 72px;
                width: 72px;
                left: 50%;
                top: 50%;
                margin-left: -36px;
                margin-top: -36px;
                position: absolute;
                background: url('//i.imgur.com/TxzC70f.png') no-repeat;
                cursor: pointer;
              }

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
                background: transparent;
            }

            img {
                object-fit: cover;
                display: block;
                left: 0;
                bottom: 0;
                margin: auto;
                max-width: 100%;
                width: 100%;
                position: absolute;
                right: 0;
                top: 0;
                border: none;
                height: auto;
                cursor: pointer;
                -webkit-transition: 0.4s all;
                -moz-transition: 0.4s all;
                transition: 0.4s all;

                &:hover {
                    filter: brightness(75%);
                }
            }

        }
        .title{
            font-weight: bolder;
            font-size: 18px;
            text-align: center;
            line-height: 1.2;
            color:  #e5202e;
            height: 55px;
            padding: 0 20px ;
        }
    }
}